<form action="/memos" method="post">
  <div class="form-group">
    <label for="title">題名</label>
    <input type="text"  class="form-control" name="title">
  </div>
  <div class="form-group new-content">
    <label for="content">本文</label>
    <textarea name="content" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-info new-complete">作成完了</button>
</form>