body {
    padding: 11px;
    margin-top: 10px;
    margin-left: 10px;
}

.memo-subtitle {
    display: flex
}

.index-title {
    width: 160px
}

.new-content {
    margin-bottom: 0px;
}

.button-wrapper {
    display: flex;
}

.form-control {
    width: 200px;
}

.edit-link {
    display: block;
    margin-bottom: 10px;
}

.edit-button {
    height: 40px;
    margin-right: 10px;
}

.delete-button {
    display: block;
    height: 40px;
}

.memo-container {
    margin-top: 10px;
}

.memo {
    display: block;
    margin-bottom: 10px;
    height: 20px;
}

.new-complete {
    margin-top: 10px;
}